<!DOCTYPE html>

<html>
<head>
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/style/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
