@model WorkCreateDto

<section class="get-in-touch">
    <h1 class="title">Add Todo</h1>
    <form class="contact-form row" asp-action="Create" method="post">
        <div class="form-field col-lg-12">
            <input asp-for="Title" placeholder="eg: Shopping" class="input-text js-input" type="text" required >
            <label class="label" for="Title">Title</label>
        </div>
        <div class="form-field col-lg-12">
            <input asp-for="Description" placeholder="eg: Enter a task here" class="input-text js-input" type="text" required>
            <label class="label" for="message">Description</label>
        </div>
        <div class="form-field form check">
            <label class="label" for="IsCompleted">Completed</label>
            <input class="input-text js-input" type="checkbox" asp-for="IsCompleted">
        </div>
        <div class="form-field col-lg-12">
            <button class ="submit-btn" type="submit">Save</button>
        </div>
    </form>
</section>