@model WorkUpdateDto

<section class="get-in-touch">
    <h5 class="title">Update Todo</h5>
    <form class="contact-form row" asp-action="Update" method="post">
        <input type ="hidden" asp-for="Id"/>
        <div class="form-field col-lg-12">
            <input asp-for="Title" placeholder="eg: Shopping" class="input-text js-input" type="text" required >
            <label class="label" for="Title">Name</label>
        </div>
        <div class="form-field col-lg-12">
            <input asp-for="Description" placeholder="eg: Enter a task here" class="input-text js-input" type="text" required>
            <label class="label" for="message">Message</label>
        </div>
        <div class="form-field form check">
            <label class="label" for="IsCompleted">Completed</label>
            <input class="input-text js-input" type="checkbox" asp-for="IsCompleted">
        </div>
        <div class="form-field col-lg-12">
            <button class ="submit-btn" type="submit">Save</button>
        </div>
    </form>
</section>
